/* 
    Document   : style
    Created on : 12-ago-2013, 18:06:14
    Author     : josue
    Description:
        Purpose of the stylesheet follows.
*/

root { 
    display: block;
}

html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    background-color: #EFEFEF;
}

.container {
    width: 100%;
    height: 100%;
}

header {
    position: relative;
    float: left;
    width: 100%;
    height: 10%;

}

header h1 {
    text-align: center;
    color: #036FFA;
    margin: 0;
    padding-top: 1%;

}

footer {
    position: relative;
    float: left;
    width: 100%;
    height: 10%;

}

footer p {
    text-align: center;
    color: #333333;
}

.innerbox {
    padding: 10px;
}

/* -------------------- TOOLBOX STYLES -------------------- */

#toolbox {
    position: relative;
    float: left;
    width: 40%;
    height: 80%;
    background-color: #DCDCDC;

    overflow-x: hidden;
    overflow-y: scroll;
}

#toolbox .hover-states {
    position: absolute;
    top: 25px;
    left: 15px;
    cursor: pointer;
}

#toolbox h2 {
    text-align: center;
    margin: 0;
    padding: 5px;
    background-color: #036FFA;
    color: #333333;
}


#toolbox form {
    width: 100%;
    background-color: #FAFAFA;
    font-size: 20px;



}

#toolbox form table tr td {
    padding: 10px;
    width: 100px;
    text-align: center;
}

#hover-states-form h2 {
    background-color: #ff0000;
}


/* -------------------- FRAME STYLES -------------------- */

#frame {
    position: relative;
    float: left;
    width: 60%;
    height: 80%;
    background-color: #FAFAFA;
}

#frame #options * {
    position: relative;
    float: left;
    margin: 0 10px;
    z-index: 9;
    cursor: pointer;
}

#result {
    position: absolute;
    top: 50px;
    left: 50px;
    right: 50px;
    bottom: 50px;
    background-color: #FFFFFF;

    -moz-box-shadow:    inset 0 0 10px #000000;
    -webkit-box-shadow: inset 0 0 10px #000000;
    box-shadow:         inset 0 0 10px #000000;
}




/* BUTTON DEFAULT STYLE */

#button {
    position: absolute;
    top: 37.5%;
    left: 37.5%;
    width: 205px;
    height: 128px;

    border-width: 0px;
    border-color: #000000;
    border-style: solid;

    border-radius: 0px;

    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;

    background-color: #C8C8C8;
    color: #333333;

    font-size: 50px;

    overflow: hidden;

    text-align: center;
    line-height: 128px;

    opacity: 1;

    transition-property: all;
    transition-duration: 0s;
    transition-timing-function: ease;
    transition-delay: 0s;

    transform: none;
    -ms-transform: none;
    -webkit-transform: none;

    transform-origin: 50% 50% 0px;
    transform-style: flat;

    perspective: none;
    -webkit-perspective: none;

    perspective-origin: 50% 50%;

    backface-visibility: visible;

    cursor: pointer;
}

